<% provide(:title, "潜師とは？？") %>
<div id="fh5co-about">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="title-about">潜師とは？</h1>
        <h4>　自分が潜ったを記録を、写真・メモなどと共に記録できるサービスです。</h4>
      </div>
      <div class="col-md-10">
        <h2 class="title-use">主な使い方</h2>
        <div>
          <ol class="main-use">
            <li class="A">自分用のダイブログとして使う</li>
            <li class="B">ダイビング仲間での情報共有サービスとして使う</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

