<%= link_to "/favorites/#{@divelog.id}/destroy",
            method: :delete,
            class: 'unlike',
            remote: true do %>
  <div class="like-btn-unlike"><i class="fas fa-fish"></i> お気に入りに登録済み</div>
<% end %>
