<% provide(:title, "ダイブログ登録") %>
<div id="fh5co-portfolio">
<div class="container">
  <h1>ダイブログ登録</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'divelogs/divelog_form' %>
    </div>
  </div>
</div>
</div>
